@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset and base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins';
    line-height: 1.6;
    color: #333;
}

/* Logo */
/* .logo {
    font-size: 1rem;
    font-weight: bold;
    color: #007bff;
} */

.logo a img{
    height: 3rem;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
    position: fixed;
    width: 100%;
}

.hero {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8rem 2rem;
    background: #f9f9f9;
    color: black;
    padding-bottom: 55px;
}

.hero h1 {
    
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.blurred{
    color: white; /* Text color (not visible) */
    text-shadow: 
        3px 3px 10px red, 
        -3px -3px 10px blue, 
        3px -3px 10px green, 
        -3px 3px 10px yellow;
}

.cta-btn{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    background: #e70808;
    font-size: 1.1rem;
    margin-top: 2rem;
}

.cta-btn-upload{
    padding: 0.8rem 1.5rem;
    width: 100%;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    background: #e70808;
    font-size: 0.9rem;
    /* margin-top: 2rem; */
    /* position: center; */
    color: white;
    text-decoration: none;
    font-family: 'Poppins'; 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.titleTextBox{
    width: 100%;
    height: 5px;
    vertical-align: top;
    padding-top: 30px; 
    text-align: left;
    font-family: 'Poppins';
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* margin-bottom: 20px; */
}

.feature-bkless{
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.cta-btn a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
}

/* Features section */
.features {
    padding: 3rem 1rem;
}

.features h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.feature-card {
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



.feature-btn{
    padding: 2rem;
    background: white;
    border-radius: 10px;
    /* display: grid; */
    height: 200px;
    width: 350px;
}

.feature-nobk {
    padding: 2rem;
    background: white;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

.feature-nobk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.feature-card p{
    font-size: small;
}

.features-output {
    padding: 1rem 1rem;
    /* width: 80%; */
    align-items: center;
    /* justify-content: center; */
    justify-items: center;
    text-align: center;
    margin: 0 10%;
    background: white;
    border-radius:10px;
    border: 1px solid #1d1b1b;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
}


.pdf-action-form {
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as needed */
}

#pdf-name{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /* height: 300px; 
    width: 300px;  */
}

.pdf-content{
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    width: 100%;
    height: 90%;
}

#download-modified-image{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust as needed */
    width: 300px; /* Adjust as needed */
}

.cta-btn-analyze{
    padding: 0.8rem 1.5rem;
    width: 100%;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    background: #e70808;
    font-size: 0.9rem;
    /* margin-top: 2rem; */
    /* position: center; */
    color: white;
    text-decoration: none;
    font-family: 'Poppins'; 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


.loading{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.blog-content{
    white-space: pre-wrap; /* important for wrapping long text and preserving line breaks */
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    font-size: small;
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .feature-bkless{
        margin-top: 100px;
    }
}