<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/50bf1045f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/style.css">
    <title>PDF AI analyzer</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#home"> <img src="images/RemoveBackground.png"> </a>
            </div>
        </nav>
    </header>

    <main>
        <section id="home" class="hero">
            <h1>Extract, Summarize and Analyze your PDF file with <p class="blurred">AI</p></h1>
            <p>100% free for a max of 4MB pdf files</p>
            <button class="cta-btn"><a href="#feat">Get Started Below</a></button>
        </section>

        <section class="features" id="feat">
            <div class="feature-grid">
              
                <!-- <div class="feature-card feature-nobk">
                    <img src="images/sampleimage.png" alt="No Background">
                </div> -->

                <div class="feature-btn">  
                    <form action="/upload" method="POST" class="pdf-action-upload">
                         <!-- upload pdf file button -->
                       <label for="file_inputID" class="cta-btn-upload" id="cta-btn-upload-id"> Upload PDF file </label>
                    
                    </form>        

                    <form action="/analyze" method="POST" class="pdf-action-form" enctype="multipart/form-data">
                        <input type="file" id="file_inputID" name="file_inputName" style="display: none;" accept="application/pdf">
                       <!-- Enter prompt -->
                       <input class="titleTextBox" placeholder="Add your prompt here" name="postTitle"> </input>

                       <button type="submit" class="cta-btn-analyze" id="cta-btn-submit">Send</button> 
                    </form>
                </div>
            
                <div class="feature-card feature-bkless">
                    <p id="pdf-name"></p>
                    
                    <iframe class="pdf-content" id="pdf-content-id" enctype="multipart/form-data" > </iframe>
                </div>
               
            </div>
        </section>  

        <section class="features-output feature-card-output" id="feat">
            <!-- <textarea class="feature-card-output" placeholder="The output of your prompt will be displayed here!">     </textarea> -->
             <% if (!result) { %>
                <p class="blog-content"> Your output will be displayed here</p>
             <% } else { %>
                <p class="blog-content"><%= result %></p>
             <% } %>
        </section>


    </main>
    <script src="/js/script.js"></script>
</body>
</html>